<h1>All my bookings</h1>
<div class="booking-cards">
  <% @bookings.each do |booking| %>
    <div class="booking-card">
      <div class="booking-times">
        <p>
          <%= booking.start_time.strftime('ðŸ—“ %d/%m | â° %Hh00') %>
          <%= booking.end_time.strftime('- %Hh00') %>
        </p>
      </div>
      <div class="booking-machine">
        <h5>
          <%= booking.machine.name %>
        </h5>
      </div>
      <%= link_to "Can't be here ? Leave my spot ðŸ™‚", booking, method: :delete, data: { confirm: 'Are you sure?' }  %>
    </div>
  <% end %>
</div>
