.simple-calendar.admin-calendar .booking-block {
  height: calc((100vh - 131px - 38px - 24px)/12);
}
.simple-calendar {
  height: calc(100vh - 131px);
  td.day {
    padding: 0;
  }
  .table {
    margin: 0;
  }
  .booking-block {
    height: calc((100vh - 131px - 39px)/12);
    p {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .emoji-book {
      font-size: 30px;
    }
    .not-bookable {
      background: lightsteelblue;
      opacity: 0.8;
    }
    .you-booked {
      background: lightsalmon;
      a {
        padding: 0 0 0 8px ;
      }
    }
    .book-hour {
      background: bisque;
    }
  }
}


@media (max-width: 800px) {

/* Inline #2 | http://localhost:3000/machines/2 */

.simple-calendar p, .simple-calendar input {
  font-size: 14px;
}

}
