
.simple-calendar {
  height: 60vh;
  td.day {
    padding: 0;
  }
  .booking-block {
    height: 50px;
    p {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .emoji-book {
      font-size: 30px;
    }
    .not-bookable {
      background: lightsteelblue;
      opacity: 0.8;
    }
    .you-booked {
      background: lightsalmon;
      a {
        padding: 0 0 0 8px ;
      }
    }
    .book-hour {
      background: bisque;
    }
  }
}

// table {
//   height: 100%;
// }



