.whole-body {
  display: flex;
  .middle-body {
    margin: 0 30px 20px 250px;
    width: 100%;
    max-height: 100vh;
    h1 {
      padding: 30px 0 20px 0;
      text-decoration: underline;
      a {
        text-decoration: underline;
      }
    }
  }
}

/* Feuille de style intégrée #1 | http://localhost:3000/admin/machines */

.alert.alert-dismissible {
  position: fixed;
  right: 50px;
  top: 30px;
}


.green-side-bar {
  width: 220px;
  height: 100%;
  background: lightgreen;
  color: black;
  position: fixed;
  padding: 30px 10px;
  border-radius: 0 50px 50px 0;
  box-shadow: 0 0 10px lightgreen;
  .offline-machine a {
    color: #00000082;
  }
  .upcoming-booking-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0px 3px #6bd96b;
    margin: 5px 0 10px 0;
    background: linear-gradient(0.25turn, lightgreen, #6bd96b);
    border-radius: 0 5px 5px 0;
  }
  .machine-list, .upcoming-booking-card {
    padding: 0 10px 0 20px;
    p {
      margin: 0;
    }
  }
  h1 {
    text-decoration: underline;
    padding: 0 0 20px 0;
  }
  .next-booking {
    color: black;
    width: 100%;
  }
  a {
    color: black;
    width: max-content;
  }
}
// TODO
// .notice, .alert {
//   position: fixed;
//   padding: 4px 10px;
//   top: 5px;
//   left: 250px;
// }
// .notice {
//   background: beige;
// }
// .alert {
//   background: lightpink;
// }
