.whole-body {
  display: flex;
  .middle-body {
    margin: 0 30px 20px 250px;
    width: 100%;
    max-height: 100vh;
    h1 {
      padding: 30px 0 0 0;
      text-decoration: underline;
      a {
        text-decoration: underline;
      }
    }
  }
}

.green-side-bar {
  width: 200px;
  height: 100%;
  background: lightgreen;
  color: black;
  position: absolute;
  padding: 30px 5px;
  .machine-list, .upcoming-booking-card {
    padding: 0 0 10px 20px;
    p {
      margin: 0;
    }
  }
  h1 {
    text-decoration: underline;
  }
  a, .next-booking {
    color: black;
    width: max-content;
  }
}
.notice, .alert {
  position: fixed;
  padding: 4px 10px;
  top: 5px;
  left: 250px;
}
.notice {
  background: beige;
}
.alert {
  background: lightpink;
}
