.whole-body a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: black;
  }
}



/* Feuille de style intégrée #1 | http://localhost:3000/machines/2 */

.ifm-paris {
}

/* application.debug-50172d30caa0e8264177a98699dfad9b95974f4948b43e6006b3ece4a3ae70aa.css | http://localhost:3000/assets/application.debug-50172d30caa0e8264177a98699dfad9b95974f4948b43e6006b3ece4a3ae70aa.css */

.whole-body .middle-body .main-page-name h1 {
  /* padding: 30px 20px 20px 0; */
  /* width: 200px; */
  width: max-content;
  margin: 0 20px 0 0;
  border-right: solid 1px;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whole-body .middle-body .main-page-name {
  /* padding: 0 0 0 50px; */
  padding: 0;
}

.whole-body .middle-body .main-page-name .machine-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}




.whole-body {
  display: flex;
  .middle-body {
    margin: 0 0 0 230px;
    padding: 0;
    width: 100%;
    max-height: 100vh;
    .main-page-name {
      max-width: 100%;
      width: calc(100% - 230px);
      border-bottom: solid 1px black;
      padding: 0;
      height: 131px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      background: white;
      z-index: 1;
      .machine-description {
        font-size: 17px;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
      h1 {
        min-width: max-content;
        margin: 0;
        border-right: solid 1px;
        height: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h1.ifm-paris.middle-top-bar {
        border: none;
        width: 100%;
      }
      a {
        height: 100%;
        color: black;
        max-width: 195px;
        display: flex;
        .machine-card.add-card.edit-or-create {
          width: 195px;
        }
        &:hover {
          text-decoration: none;
          color: black;
        }
      }
      .add-edit-logo {
        margin: 0;
        font-size: 45px;
      }
    }
    .main-page-content {
      padding: 0;
      // padding: 50px 20px 20px 50px;
      margin-top: 131px;
      .new-user-form {
        padding: 20px;
      }
      .machine-cards.margin-devise.formations {
        width: 100%;
      }
    }
    .machine-forms {
      #new_machine, .simple_form.edit_machine {
        width: 500px;
        padding: 20px;
      }
    }
    h1 {
      padding: 30px 0 20px 0;
      a {
        text-decoration: none;
      }
    }
  }
}


.card.card-body.my-card-body {
background: aliceblue;
padding: 0 0 0 80px;
width: 66%;
border: none;
border-radius: 0 50px 50px 0;
}
.card.card-body.book-machine-card {
  padding: 0;
  width: max-content;
}
#collapseExample {
background: transparent;
}
.booking-cards .booking-card {
background: white;
}


/* Feuille de style intégrée #1 | http://localhost:3000/admin/machines */

.alert.alert-dismissible {
  position: fixed;
  right: 50px;
  top: 30px;
  width: 400px;
  z-index: 2;
}
.alert.alert-dismissible.alert-warning {
  background-color: red;
  color: white;
  border: solid 2px black;
}

.top-bar {
  display: none;
}
.top-bar-machine {
  display: none;
}
.green-side-bar {
  width: 230px;
  height: 100%;
  // background: lightgreen;
  color: black;
  position: fixed;
  padding: 0;
  // border-radius: 0 50px 50px 0;
  // box-shadow: 0 0 10px lightgreen;
  border-right: solid 1px black;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .main-logo {
    width: 100%;
    border-bottom: solid 1px black;
  }
  .student-nav {
    height: 100%;
    padding: 20px;
    .not-formed {
      color: #7e7e7e;
    }
  }
  .user-actions {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
    justify-content: space-around;
    h5 {
      margin: 0;
    }
  }
  .nav-element {
    width: 100%;
    display: flex;
    border-top: solid 1px black;
    flex-direction: column;
    height: 65px;
    padding: 10px 0;
    a {
      margin: 0 auto;
      padding: 10px 0;
    }
    h6 {
      margin: 0 auto;
      padding: 2.5px 0;
    }
  }
  .ifm-paris {
    font-size: 60px;
    text-align: center;
  }
  .offline-machine a {
    color: #00000082;
  }
  .upcoming-booking-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0px 3px #6bd96b;
    margin: 5px 0 10px 0;
    background: linear-gradient(0.25turn, lightgreen, #6bd96b);
    border-radius: 0 5px 5px 0;
    .booking-details {
      font-size: 10px;
    }
    .spacer {
      margin: 0 10px;
    }
  }
  .machine-list, .upcoming-booking-card {
    padding: 0 10px 0 20px;
    p {
      margin: 0;
    }
  }
  h1 {
    // text-decoration: underline;
    padding: 25px 0;
  }
  .next-booking {
    color: black;
    width: 100%;
  }
  a {
    color: black;
    width: max-content;
  }
}




@media (min-width: 400px) and (max-width: 1000px) {


.whole-body {
  height: 100vh;
}
.top-bar {
  display: none;
}
.top-bar-machine {
  display: none;
}
.green-side-bar .machine-list, .green-side-bar .upcoming-booking-card {
  padding: 0 0 0 5px;
}

.green-side-bar .machine-list p, .green-side-bar .upcoming-booking-card p {
  margin: 5px 0;
  font-size: 14px;
  width: 100%;
}


.spacer {
  display: none;
}
.whole-body .middle-body .main-page-name .machine-description {
  font-size: 12px;
}



  .green-side-bar {
    width: 150px;
  }
  .whole-body .middle-body {
    margin: 0 0 0 150px;
  }



.student-nav h5 {
  font-size: 15px;
}

.upcoming-booking-card {
  flex-direction: column;
  font-size: 12px;
}

.green-side-bar .upcoming-booking-card p {
  text-align: center;
}



  .green-side-bar .ifm-paris {
    font-size: 30px;
    margin: 0;
  }



  .whole-body .middle-body .main-page-name {
    height: 87px;
    position: fixed;
    background: white;
    padding-left: 0;
    width: calc(100% - 150px);
    .ifm-paris {
      font-size: 28px;
    }
  }

  .whole-body .middle-body .main-page-content {
    margin-top: 87px;
    padding: 0;
    h3 {
      font-size: 24px;
    }
    .booking-cards .booking-card {
      height: 135px;
      width: 240px;
    }
  }

  #new_user {
    width: 251px;
  }

  .margin-devise {
    font-size: 30px;
  }

  .green-side-bar .nav-element a {
    font-size: 11px;
  }

  .green-side-bar .user-actions h5 {
    font-size: 15px;
  }

  .green-side-bar .user-actions {
    /* padding: 0 20px; */
    padding: 0 10px;
  }
}
@media (max-width: 400px) {

.top-bar {
  display: flex;
  position: fixed;
  top: 0;
  border-bottom: solid 1px black;
  height: 56px;
  width: 100%;
  background: white;
  z-index: 1;
}

.main-logo.ifm-paris {
  font-size: 16px;
}

.top-bar .main-logo .ifm-paris {
  font-size: 24px;
}

.main-logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px black;
}

.top-bar .student-nav {
  display: flex;
}

.top-bar .student-nav h5 {
  font-size: 14px;
  border-right: solid 1px black;
  margin: 0;
}

.top-bar .nav-element h6 {
  font-size: 14px;
  margin: 0;
}

.top-bar .nav-element {
  height: 100%;
}

.top-bar .nav-element .edit-account {
  border-bottom: solid 1px black;
}

  .main-logo {

  }
  .top-bar .student-nav {
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .top-bar .nav-element {
    /* height: 100%; */
    width: 25%;
  }
  .top-bar .student-nav h5 {
    /* margin: 0; */
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .top-bar .nav-element h6 {
    height: 50%;
  }


.top-bar a {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}







  .green-side-bar {
    display: none;
  }
  .whole-body .middle-body {
    /* margin: 0 0 0 150px; */
    margin: 0 !important;
  }
  .whole-body .middle-body .main-page-name {
    /* height: 87px; */
    /* width: calc(100% - 150px); */
    display: none;
    height: 56px;
    width: 100% !important;
  }
  .whole-body .middle-body .main-page-name .ifm-paris {
    /* font-size: 28px; */
  }

.whole-body .middle-body .main-page-name h1 {
  font-size: 17px;
}

.whole-body .middle-body .main-page-name a {
  font-size: 20px;
}

.machine-card.add-card {
  font-size: 20px;
}

.whole-body .middle-body .main-page-name .add-edit-logo {
  /* font-size: 45px; */
  font-size: 16px;
}



  .whole-body .middle-body .main-page-content {
    margin-top: 56px;
  }
  .booking-block .new_booking {
    width: 50%;
  }
  .booking-block p, .booking-block input {
    font-size: 10px;
  }
  .booking-block input {
    padding: 5px 3px;
  }

  .alert.alert-dismissible {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 300px;
    z-index: 2;
    font-size: 12px;
    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 8px;
      color: inherit;
    }
  }

  .top-bar-machine {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px;
    height: 35px;
    align-items: center;
    h5 {
        margin: 0;
    }
  }

  .whole-body .middle-body .machine-forms #new_machine, .whole-body .middle-body .machine-forms .simple_form.edit_machine {
    width: 100%;
  }


}

// TODO
// .notice, .alert {
//   position: fixed;
//   padding: 4px 10px;
//   top: 5px;
//   left: 250px;
// }
// .notice {
//   background: beige;
// }
// .alert {
//   background: lightpink;
// }
