// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.margin-devise {
  margin: 0;
  padding: 0 20px;
  width: max-content;
}
h3.margin-devise {
padding-top: 20px;
}
#new_user {
  width: 300px;
  padding: 20px 0 0 20px;
  .btn.login-btn {
    box-shadow: none;
    border: solid 2px black;
    border-radius: 0;
  }
}
#edit_user {
  padding: 20px;
  width: 500px;
  font-size: 15px;
  .form-group.password.optional.user_password {
    margin: 10px 0;
  }
}



.change-password {
  border: solid 1px grey;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  p {
    margin: 0;
  }
}

/* Inline #2 | http://localhost:3000/users/edit */

.btn.rectangle-btn {
  border: solid 1px black;
  padding: 5px 10px;
  border-radius: 0;
  margin-bottom: 10px;
  transition: all 0.15s ease;
  &:hover {
    color: white;
    background: black;
  }
}


@media (max-width: 500px) {
  #edit_user {
    width: 100vw;
  }
}
