// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.margin-devise {
  margin: 0;
  padding: 0 20px;
  width: max-content;
}
h3.margin-devise {
padding-top: 20px;
}
#new_user {
  width: 300px;
  padding: 20px 0 0 20px;
  .btn.login-btn {
    box-shadow: none;
    border: solid 2px black;
    border-radius: 0;
  }
}
#edit_user {
  padding: 20px;
}
