.machine-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .machine-card.previously-used {
    height: min-content;
  }
  .machine-card.formation {
    height: 120px;
  }
  .machine-card {
    position: relative;
    height: 200px;
    width: 300px;
    margin: 20px 40px 20px 0;
    padding: 10px 20px;
    border-left: solid 4px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 6px 10px #dfdfdf;
    h5, p {
      margin: 0;
    }
    a {
      width: 100%;
      margin: 0;
    }
    .machine-description {
      text-overflow: ellipsis;
      overflow: hidden;
      height: 130px;
      padding: 5px 0;
      font-size: 15px;
    }
    .planning-btn {
      color: white;
      background: black;
      padding: 5px;
      text-transform: lowercase;
    }
    .planning-btn-reverse {
      color: black;
      background: white;
      border: solid 1px black;
      width: max-content;
      padding: 5px;
      text-transform: lowercase;
      transition: all 0.2s ease;
      &:hover {
        color: white;
        background: black;
      }
    }
    .machine-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        width: max-content;
      }
    }
    .edit-machine {
      position: absolute;
      right: 10px;
      .form-group.hidden.machine_visible {
        margin: 0;
      }
      .on-off-btn {
        border: none;
        background: none;
        margin: 0 20px;
      }
    }
    .last-machine h6 {
      margin: 0;
    }
  }
}


.machine-card.add-card {
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  border-left: solid 1px black;
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
  .add-machine {
    text-align: center;
    font-size: 45px;
    height: 100%;
    &:hover {
      text-decoration: none;
    }
  }
}

.add-edit-btn {
  background: lightgreen;
  color: #157015;
  box-shadow: 0 0 10px #9cf69c;
  border: none;
  padding: 8px 16px;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.3s cubic-bezier(.68,-0.55,.27,1.55);
  line-height: normal;
  margin: 0 25px 0 0;
  &:hover {
    color: #044204;
    box-shadow: 0 0 16px #4bbe4b;
    transition: all 0.3s cubic-bezier(.68,-0.55,.27,1.55);
  }
}
.add-edit-btn.destroy-btn {
  background: coral;
  color: #782507;
  box-shadow: 0 0 10px coral;
  &:hover {
    text-decoration: none;
    color: #431302;
    box-shadow: 0 0 10px #c63905;
  }
}

@media (max-width: 800px) {



.planning-btn {
  font-size: 14px;
}

.machine-card p {
  font-size: 15px;
}

.machine-cards .machine-card {
  width: 260px;
  height: 250px;
  margin: 20px 20px 20px 0;
  .machine-description {
    height: 150px;
  }
}


}

