<h1>Machines</h1>
<h3>Online Machines</h3>
<div class="machine-cards">
  <% @online_machines.each do |machine| %>
    <div class="machine-card">
      <h5><%= machine.name %></h5>
      <p><%= machine.description %></p>
      <p><%= link_to 'book this machine', machine_path(machine)  %></p>
    </div>
  <% end %>
</div>
<h3>Previously used machines</h3>
<div class="machine-cards">
  <% @my_machines.uniq.each do |my_machine| %>
    <div class="machine-card previously-used">
      <%= my_machine.name %>
    </div>
  <% end %>
</div>
