<h1>Machines#index</h1>
<p>Find me in app/views/machines/index.html.erb</p>
<h2>all machines</h2>
<% @machines.each do |machine| %>
  <%= machine.name %>
  <%= link_to 'voir', machine_path(machine)  %>
<% end %>
<h2>my machines</h2>
<% @my_machines.each do |my_machine| %>
  <%= my_machine.name %>
<% end %>
